./data/lmsys_chat_1m/train/data-00000-of-00006.arrow ./data/lmsys_chat_1m/train/data-00001-of-00006.arrow ./data/lmsys_chat_1m/train/data-00002-of-00006.arrow ./data/lmsys_chat_1m/train/data-00003-of-00006.arrow ./data/lmsys_chat_1m/train/data-00004-of-00006.arrow ./data/lmsys_chat_1m/train/data-00005-of-00006.arrow
.DS_Store
data/
__pycache__/
*.pyc
.DS_Store
data/
__pycache__/
*.pyc
.DS_Store data/ __pycache__/ *.pyc
